<html>
    <title>My base page</title>
    <meta charset="utf-8">
    <script src="./js/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="./css/basicStyle.css">
    	<body>
            <div id="root" class="container">
                
                
	                
	           <router-view></router-view>

            </div>

<script src="./js/vue.js"></script>
<script src="./js/vue-router.js"></script>
<script src="./js/axios.js"></script>
<script src="./js/jquery.min.js"></script>

        <script src="./app/homePageOption.js"></script>
        <script src="./app/homePageClient.js"></script>
        <script src="./app/clientHeader.js"></script>
		<script src="./app/pageRouter.js"></script>
    </body>
</html>