<html>
    <title>My base page</title>
    <meta charset="utf-8">
    <script src="./js/jquery.min.js"></script>
    <link rel="stylesheet" href="./css/homePageOwner.css">
    <link rel="stylesheet" href="./css/editProfileOwner.css">
    <link rel="stylesheet" href="./css/managment.css">
    	<body>
            <div id="fun">
                
	                
	           <router-view></router-view>

            </div>
		
		<script src="./js/vue.js"></script>
		<script src="./js/vue-router.js"></script>
		<script src="./js/axios.js"></script>
		<script src="./js/jquery.min.js"></script>
		<script src="./app/homePageOwner.js"></script>
		<script src="./app/editProfileOwner.js"></script>
		<script src="./app/managmentOwner.js"></script>
		<script src="./app/app.js"></script>
		
    </body>
</html>