<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../css/managment.css">
	</head>
	<body>
		<div class="tab">
			<button class="tablinks" onclick="openFun(event, 'Add')" id="defaultOpen">Dodavanje</button>
			<button class="tablinks" onclick="openFun(event, 'Update')">Izmena</button>
			<button class="tablinks" onclick="openFun(event, 'Remove')">Brisanje</button>
		</div>

		<div id="Add" class="tabcontent">
			<div id="addForm">
				<p>Unesite podatke za dodavanje nove ponude</p>
				<label>Naziv</label><br>
				<input id="name" name="name" type="text" v-model="selectedOffer.name" v-bind:disabled="mode=='BROWSE'" /> <br />
				<label>Adresa</label><br>
				<input id="address" name="address" type="text" v-model="selectedOffer.address" v-bind:disabled="mode=='BROWSE'" /> <br />
				<label>Opis</label><br>
				<input id="description" name="description" type="text" v-model="selectedOffer.description" v-bind:disabled="mode=='BROWSE'" /> <br />
				<label>Broj soba</label><br>
				<input id="roomsNumber" name="roomsNumber" type="text" v-model="selectedOffer.roomsNumber" v-bind:disabled="mode=='BROWSE'" /><br />
				<label>Pravila ponašanja</label><br>
				<input id="behavior" name="behavior" type="text" v-model="selectedOffer.behavior" v-bind:disabled="mode=='BROWSE'" /><br>
				<label>Cena</label><br>
				<input id="price" name="price" type="text" v-model="selectedOffer.price" v-bind:disabled="mode=='BROWSE'" /><br>
				<br>
				<button id="addOffer" v-on:click="addOffer(selectedStudent)" v-bind:disabled="mode=='BROWSE'">Dodaj</button>
			</div>
			<div id="tableOffers">
				<p>Sve vaše ponude</p>
				<table class="offers">
					<tr bgcolor="lightgrey">
						<th>ID</th>
						<th>Naziv</th>
						<th>Adresa</th>
						<th>Opis</th>
						<th>Broj soba</th>
						<th>Slike</th>
						<th>Brze rezervacije</th>
						<th>Pravila ponašanja</th>
						<th>Cena(din.)</th>
					</tr>
					
					<tr v-for="o in offers" v-on:click="selectOffer(o)" v-bind:class="{selected : selectedOffer.id===o.id}">
						<td>1</td>
						<td>Lopatnica</td>
						<td>Bogutovačka 55</td>
						<td><button>Pogledaj</button></td>
						<td>2</td>  <!--broj kreveta-->
						<td><button>Pogledaj</button></td> 
						<td><button>Pogledaj</button></td>
						<td><button>Pogledaj</button></td>
						<td>4000</td>
					</tr>
				</table>
			</div>
		
	
</div>
		</div>
		
		<div id="Update" class="tabcontent">
		<div id="addForm">
		<p> Izaberite ponudu koju želite da izmenite</p>
		<label>Naziv</label><br>
		<input id="name" name="name" type="text" v-model="selectedOffer.name" v-bind:disabled="mode=='BROWSE'" /> <br />
		<label>Adresa</label><br>
		<input id="address" name="address" type="text" v-model="selectedOffer.address" v-bind:disabled="mode=='BROWSE'" /> <br />
		<label>Opis</label><br>
		<input id="description" name="description" type="text" v-model="selectedOffer.description" v-bind:disabled="mode=='BROWSE'" /> <br />
		<label>Broj soba</label><br>
		<input id="roomsNumber" name="roomsNumber" type="text" v-model="selectedOffer.roomsNumber" v-bind:disabled="mode=='BROWSE'" /><br />
		<label>Pravila ponašanja</label><br>
		<input id="behavior" name="behavior" type="text" v-model="selectedOffer.behavior" v-bind:disabled="mode=='BROWSE'" /><br>
		<label>Cena</label><br>
		<input id="price" name="price" type="text" v-model="selectedOffer.price" v-bind:disabled="mode=='BROWSE'" /><br>
		<br>
		<button id="addOffer">Dodaj</button>
		</div>
		<div id="tableOffers">
			<table class="offers">
				<tr bgcolor="lightgrey">
					<th>ID</th>
					<th>Naziv</th>
					<th>Adresa</th>
					<th>Opis</th>
					<th>Broj soba</th>
					<th>Slike</th>
					<th>Brze rezervacije</th>
					<th>Pravila ponašanja</th>
					<th>Cena(din.)</th>
				</tr>
				
				<tr v-for="o in offers">
					<td>1</td>
					<td>Lopatnica</td>
					<td>Bogutovačka 55</td>
					<td><button>Pogledaj</button></td>
					<td>2</td>  <!--broj kreveta-->
					<td><button>Pogledaj</button></td> 
					<td><button>Pogledaj</button></td>
					<td><button>Pogledaj</button></td>
					<td>4000</td>
				</tr>
			</table>
		</div>
		</div>

		<div id="Remove" class="tabcontent">
		<div id="addForm">
			<p>Izaberite ponudu koju želite da obrišete</p>
			<button id="removeOffer">Obriši</button>
		</div>
		<div id="tableOffers">
			<p>Sve Vaše ponude</p>
			<table class="offers">
				<tr bgcolor="lightgrey">
					<th>ID</th>
					<th>Naziv</th>
					<th>Adresa</th>
					<th>Opis</th>
					<th>Broj soba</th>
					<th>Slike</th>
					<th>Brze rezervacije</th>
					<th>Pravila ponašanja</th>
					<th>Cena(din.)</th>
				</tr>
				
				<tr v-for="o in offers" v-on:click="selectOffer(o)" v-bind:class="{selected : selectedOffer.id===o.id}">
					<td>1</td>
					<td>Lopatnica</td>
					<td>Bogutovačka 55</td>
					<td><button>Pogledaj</button></td>
					<td>2</td>  <!--broj kreveta-->
					<td><button>Pogledaj</button></td> 
					<td><button>Pogledaj</button></td>
					<td><button>Pogledaj</button></td>
					<td>4000</td>
				</tr>
			</table>
		</div>
		</div>
		
		
		<script>
		function openFun(evt, tabName) {
		  
		  var i, tabcontent, tablinks;
		  tabcontent = document.getElementsByClassName("tabcontent");
		  for (i = 0; i < tabcontent.length; i++) {
			tabcontent[i].style.display = "none";
		  }
		  tablinks = document.getElementsByClassName("tablinks");
		  for (i = 0; i < tablinks.length; i++) {
			tablinks[i].className = tablinks[i].className.replace(" active", "");
		  }
		  document.getElementById(tabName).style.display = "block";
		  evt.currentTarget.className += " active";
		}
		document.getElementById("defaultOpen").click();
</script>
	</body>
</html>